/*this is for the index page/general styling*/


@font-face {
  font-family: 'goth-light';
  src: url('assets/Gotham-LightIta.otf');
}
@font-face {
  font-family: 'goth-medium';
  src: url('assets/Gotham-Medium.otf');
}
@font-face {
  font-family: 'goth-mediumIt';
  src: url('assets/Gotham-MediumIta.otf');
}

* {

  font-family: 'goth-medium';
}

body {

	margin: 0;
	padding: 0;

}

.header {
	
	width: 100%;
	
}

.footer {

    position: absolute;
    bottom: 0em;
}
