
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.things {
	
	display: flex;
	flex-direction: row;
}
.ticker-wrap {
  position: fixed;
  bottom: 4.5em;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 100%;
}

.ticker {
  display: inline-block;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 30s;
}
.ticker__item {
 
  font-size: 1em;
  display: inline-block;
}

div.ticker__item h2 {

  font-family: 'goth-light';
  color: white;
}
