<div class='sidebar'>
	<div id="selectedStore">
		<h2 id="selectedStoreName">{{listC.selectedStore.properties.name}}</h2>
		<h3>{{listC.selectedStore.properties.address}}</h3>
		<h3>{{listC.selectedStore.properties.phoneFormatted}}</h3>
		<button ng-show="listC.selectedStore.properties.address!='Select Your DESTINATION'" id="directionsButton" ng-click="listC.directions(listC.selectedStore)">GET DIRECTIONS</button>
	</div>

	<div ng-repeat="estabType in listC.establishments"> 
		<div class="c-tab" ng-class="{'is-active': estabType.name == listC.lastSelected}">
			<div class="c-tab__content">
				<div id='listings' class='listings' ng-repeat="listing in estabType.features">
			    	<div class="item">
			    		<h2 ng-click="listC.flyTo(listing)" class="listingName">{{listing.properties.name}}</h2>
			    	</div>
	    		</div>
			</div>
		</div>
	</div>
</div>

<div id="map"></div> 