<div id="tabs" class="c-tabs">
	<div class='c-tabs-nav' ng-repeat="estabType in listC.establishments">
	<a href="#" class="c-tabs-nav__link" ng-class="{'link-is-active': estabType.name == listC.lastSelected}" ng-click="listC.tabClick(estabType.name)">{{estabType.name}}</a>
	</div>
</div>
