

<div class="nav-image">

	<a ui-sref-active="active" ui-sref="map">
		<div ng-include="'../assets/nav_element-01.svg'" class="ng-scope">	
		</div>
	</a></ui-sref>

	<a ui-sref-active="active" ui-sref="events">
		<div ng-include="'../assets/nav_element-02.svg'" class="ng-scope">	
			<svg></svg>
		</div>
	</a></ui-sref>

	<a ui-sref-active="active" ui-sref="photo">
		<div ng-include="'../assets/nav_element-03.svg'" class="ng-scope">
			<svg></svg>
		</div>
	</a></ui-sref>

</div>
