<div class='sidebar'>
		<div id="tabPicked" class="a">
			<!-- adding apparel and accessories tabs -->
			<div class="c-tab is-active">
				<div class="c-tab__content">
					<div id='listings' class='listings' ng-repeat="listing in listC.establishments.apparel.features">
				    	<div id="item">
				    		<h2 ng-click="listC.flyTo2(listing)">{{listing.properties.name}}</h2>
				    		<p>{{listing.properties.address}}</p>
				    		<p>{{listing.properties.phoneFormatted}}</p>
				    		<p ng-click="listC.directions(listing)">get directions</p>
			    			<hr>
				    	</div>
		    		</div>
				</div>
			</div>
			<div class="c-tab">
				<div class="c-tab__content">
					<div id='listings' class='listings' ng-repeat="listing in listC.establishments.accessories.features">
				    	<div id="item">
				    		<h2 ng-click="listC.flyTo2(listing)">{{listing.properties.name}}</h2>
				    		<p>{{listing.properties.address}}</p>
				    		<p>{{listing.properties.phoneFormatted}}</p>
				    		<p ng-click="listC.directions(listing)">get directions</p>
			    			<hr>
				    	</div>
		    		</div>
				</div>
			</div>
		</div>
</div>


<!-- is-active -->
			<div class="c-tab">
				<div class="c-tab__content">
					<div id='listings' class='listings' ng-repeat="listing in listC.establishments.home.features">
				    	<div id="item">
				    		<!-- listing.geometry.coordinates -->
				    		<h2 ng-click="listC.flyTo2(listing)">{{listing.properties.name}}</h2>
				    		<p>{{listing.properties.address}}</p>
				    		<p>{{listing.properties.phoneFormatted}}</p>
				    		<p ng-click="listC.directions(listing)">get directions</p>
			    			<hr>
				    	</div>
		    		</div>
				</div>
			</div>
			<div class="c-tab">
				<div class="c-tab__content">
					<div id='listings' class='listings' ng-repeat="listing in listC.establishments.restaurants.features">
				    	<div id="item">
				    		<!-- listing.geometry.coordinates -->
				    		<h2 ng-click="listC.flyTo2(listing)">{{listing.properties.name}}</h2>
				    		<p>{{listing.properties.address}}</p>
				    		<p>{{listing.properties.phoneFormatted}}</p>
				    		<p ng-click="listC.directions(listing)">get directions</p>
			    			<hr>
				    	</div>
		    		</div>
				</div>
			</div>
			<div class="c-tab">
				<div class="c-tab__content">
					<div id='listings' class='listings' ng-repeat="listing in listC.establishments.bars.features">
				    	<div id="item">
				    		<h2 ng-click="listC.flyTo2(listing)">{{listing.properties.name}}</h2>
				    		<p>{{listing.properties.address}}</p>
				    		<p>{{listing.properties.phoneFormatted}}</p>
				    		<p ng-click="listC.directions(listing)">get directions</p>
			    			<hr>
				    	</div>
		    		</div>
				</div>
			</div>
			<div class="c-tab">
				<div class="c-tab__content">
					<div id='listings' class='listings' ng-repeat="listing in listC.establishments.shoes.features">
				    	<div id="item">
				    		<h2 ng-click="listC.flyTo2(listing)">{{listing.properties.name}}</h2>
				    		<p>{{listing.properties.address}}</p>
				    		<p>{{listing.properties.phoneFormatted}}</p>
				    		<p ng-click="listC.directions(listing)">get directions</p>
			    			<hr>
				    	</div>
		    		</div>
				</div>
			</div>
		</div>
	</div>