/*this is for the map template*/
.icons {
  position: relative;
  width: 100%;
  display: block;
  top: -4em;
  padding: 0;
  margin: 1.5em 1em;
  height: 0%;
  box-shadow: 0em 0em .9em black;
  border-radius: 5em; 
}

.icons .events, .icons .photo, .icons .map {
  fill: #00FF64; 
}

.active .map, .active .events, .active .photo {
  fill: white; 
}

#tabs .c-tabs-nav {
  display: flex;
  list-style: none;
  box-shadow: 1em -0.1em 3em;
  float: right; 
}
#tabs .c-tabs-nav .c-tabs-nav__link {
  padding: .7em 1.25em;
  color: black;
  text-align: center;
  font-size: 1.15em;
  text-decoration: none;
  letter-spacing: .1em;
  background-color: #00ff64;
  font-family: 'goth-medium';
  position: relative;
  left: 0em; 
}

  #tabs .c-tabs-nav .c-tabs-nav__link a {
    font-family: 'goth-medium'; 
  }

.is-active {
  background-color: yellow;
  color: white; }

.nav-image {
  width: 10%; }
  .nav-image img {
    box-shadow: 0em 0em .9em black;
    border-radius: 5em; }

.c-tabs {
  position: absolute;
  width: 100%;
  top: 19.8em;
  z-index: 1; }

#map {
  position: absolute;
  height: 77%;
  z-index: -1;
  /*right:20%;*/
  width: 100%; 
}

.sidebar {
  position: absolute;
  width: 20%;
  height: 71.6%;
  top: 22.9em;
  /*bottom:0;*/
  right: 0;
  /*overflow: hidden;*/
  overflow-y: scroll;
  overflow-x: hidden;
  /*border-right: 1px solid rgba(0, 0, 0, 0.25);*/
  /*text-align: right;*/
  /*z-index: 10;*/ 
}

.a{

  text-align: center;
  display: flex;
  justify-content: flex-end;
  margin-top: -4px;
}

.c-tabs-nav {
    display: flex;
    list-style: none;
    /* margin: 0em 1em 0em 0.5em; */
    /* padding: 0; */
    box-shadow: 1em -0.1em 3em;
    float: right;
/*    flex-direction: flex-start;*/
}

.c-tabs-nav__link {
    padding: .7em 1.25em;
    color: black;
    text-align: center;
    font-size: 1.15em;
    text-decoration: none;
    letter-spacing: .1em;
    background-color: #00ff64;
    font-family: 'goth-medium';
    position: relative;
    left: 0em;
}


.c-tabs-nav__link:hover {
  color: #6d6d6d;
}

.link-is-active {
  /*#dc446e*/
  color: #000000;
  /*background-color: #e7e7e7;*/
  /*yellow: #EEAD0E;*/
  /*green: #4c7d4f;*/
  background-color: ##00ff64;
}

.c-tabs-nav__link i,
.c-tabs-nav__link span {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.c-tabs-nav__link i {
  font-size: 18px;
}

.c-tabs-nav__link span {
  display: none;
  font-size: 18px;
}

@media all and (min-width: 720px) {
  .c-tabs-nav__link i {
    margin-bottom: 15px;
    font-size: 20px;
  }
  .c-tabs-nav__link span {
    display: block;
  }
}


.c-tab {
  display: none;
  background-color: #000000;
  color: #fff;
  font-size: .8em;
  /*margin: 12px;*/
}

.is-active {
  display: block;
}

.c-tab__content {
  padding: .5rem;
  text-align: center;
}

.mapbox-directions-inputs {
  display: none; 
}

.popupAnimate {
  animation-name: popupBounce1;
  animation-duration: .4s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.34, 0.85, 1, 0.99);
}

.popupAnimate2 {
  animation-name: popupBounce2;
  animation-duration: .4s;
  animation-iteration-count: 4;
  animation-play-state: running;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.34, 0.85, 1, 0.99);
}

@keyframes popupBounce1 {
  0% {
    top: 0px; }
  100% {
    top: -25px; } }
@keyframes popupBounce2 {
  0% {
    top: 0px; }
  100% {
    top: -15px; } }

.mapbox-canvas {
  width: 100%;
  height: 100%;
}

#selectedStore {
  padding: 1rem;
  background-color: #ffffff;
  text-align: center;
}

::-webkit-scrollbar {
  width: 1px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-track {
  background: none; }

::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0; }

.listingName {
  margin: 1.8em;
}

#directionsButton {
  font-size: 1em;
}

/*# sourceMappingURL=view1.css.map */
