.icons {

    position: relative;
    width: 100%;
    display: block;
    top: -4em;
    padding: 0;
    margin: 1.5em 1em;
    height: 0%;
    box-shadow: 0em 0em .9em black;
    border-radius: 5em;



	.events , .photo , .map{

	fill: #00FF64;


	}



}


.active  {

	.map, .events , .photo {

			fill: white;

	}
	

}


#tabs {
  

  .c-tabs-nav {

 		display: flex;
    	list-style: none;
    	box-shadow: 1em -0.1em 3em;
    	float: right;

    	.c-tabs-nav__link {

			padding: .7em 1.25em;
			color: black;
			text-align: center;
			font-size: 1.15em;
			text-decoration: none;
			letter-spacing: .1em;
			background-color: #00ff64;
			font-family: 'goth-medium';
			position: relative;
			left: 0em;

    	}

    	.c-tabs-nav__link a {

    		font-family: 'serif';
    	}
    }
}

.is-active {
	
	background-color: yellow;
	color: white;

}


.nav-image {
	
	width: 10%;

	img {

    box-shadow: 0em 0em .9em black;
    border-radius: 5em;
	}
	
}

.c-tabs {
	position: absolute;
    width: 100%;
    top: 19.8em;
    z-index: 1;
}